Repository cloudflare/agents, pull requests merged in 2025-09, with the labels that each got.

#469 feat: Include reasoning text in finalized message
  .changeset/plain-pigs-lead.md
  packages/agents/src/ai-chat-agent.ts
Labels: enhancement

#470 Store initialize requests and set them in onStart
  .changeset/good-coats-poke.md
  packages/agents/src/mcp/index.ts
  packages/agents/src/mcp/utils.ts
Labels: bug, mcp

#474 Add observability docs
  docs/observability.md
Labels: documentation

#468 Version Packages
  .changeset/good-coats-poke.md
  .changeset/hot-dogs-camp.md
  .changeset/ninety-dolphins-talk.md
  .changeset/plain-pigs-lead.md
  .changeset/polite-oranges-pretend.md
  .changeset/ready-cows-lie.md
  package-lock.json
  packages/agents/CHANGELOG.md
  packages/agents/package.json
  packages/hono-agents/CHANGELOG.md
  packages/hono-agents/package.json
Labels: release

#478 Refactor streamable HTTP transport
  .changeset/tender-suns-decide.md
  packages/agents/src/ai-types.ts
  packages/agents/src/mcp/index.ts
  packages/agents/src/mcp/transport.ts
  packages/agents/src/mcp/utils.ts
  tsconfig.base.json
Labels: mcp

#480 Update mcp tools and client
  .changeset/two-adults-prove.md
  examples/x402-mcp/package.json
  examples/x402-mcp/src/index.ts
  examples/x402-mcp/src/ui.ts
  examples/x402-mcp/tsconfig.json
  examples/x402-mcp/worker-configuration.d.ts
  examples/x402-mcp/wrangler.jsonc
  examples/x402/package.json
  examples/x402/src/index.ts
  examples/x402/tsconfig.json
  examples/x402/worker-configuration.d.ts
  examples/x402/wrangler.jsonc
  package-lock.json
  packages/agents/package.json
  packages/agents/scripts/build.ts
  packages/agents/src/mcp/client.ts
  packages/agents/src/mcp/x402.ts
Labels: mcp
